<% layout('../layouts/default') %>


<div id="posterframe">
  <!-- This will render the fetched Facebook profile picture using Cloudinary according to the
  requested transformations -->
  <%-cloudinary.image('officialchucknorrispage',{type:'facebook',format:'png',transformation:[{height:95,width:95,crop:'thumb',gravity:'face',effect:'sepia',radius:20},{angle:10}]})%>
</div>

<h1>Welcome!</h1>
<a>
  <%-cloudinary.image("hafsbooks/zodxx1jzy7tsrf2jfkn7", {width: 150, height: 150, quality: 80,crop:'fill',format:'jpg',class:'thumbnail inline'})%>
  </a>
<div class="actions">
  <a class="upload_link" href="/photos/add">Add photo</a>
</div>
